body {
    background: rgb(175, 180, 164);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

main {
    background: red;
    border-radius: 10px;
    width: 375px;
    text-align: center;
    font-family: roboto;
}
.top {
    height: 120px;
    font-style: white;

}
.middle {
    background: white;
    height: 120px;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    color: rgb(71, 0, 54)
    
}
.bottom {

    height: 20px;
    border-radius: 1px;

}
.hello {
    font-size: 3.4rem;
     line-height: 130%;
     color: white;
}
.my-name-is {
    font-size: 2rem;
    color: white;
}
.belowtag {
    justify-content: center;
    align-items: center;
}


